
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="ui container">
    <div id="app">
        <router-view></router-view>
    </div>
</div>
<script src="~/js/Login.js"></script>
<script src="~/js/users/ManageUser.js"></script>
@*<script src="~/js/users/ManageUsers.js"></script>*@
<script src="~/js/Router.js"></script>
