container_commands:
  01-mkdir-storage:
    command: mkdir C:\\storage
    ignoreErrors: true
  02-changeperm-storage:
    command: icacls C:\\storage /grant DefaultAppPool:(OI)(CI)F
    ignoreErrors: true
  03-mkdir-logs:
    command: mkdir C:\\logs
    ignoreErrors: true
  04-changeperm-logs:
    command: icacls C:\\logs /grant DefaultAppPool:(OI)(CI)F
    ignoreErrors: true